@font-face {
  font-family: 'lucida_sans';
  src: url('../font/lucida-sans-unicode_allfont.ru-webfont.eot');
  src: url('../font/lucida-sans-unicode_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'), url('../font/lucida-sans-unicode_allfont.ru-webfont.woff2') format('woff2'), url('../font/lucida-sans-unicode_allfont.ru-webfont.woff') format('woff'), url('../font/lucida-sans-unicode_allfont.ru-webfont.ttf') format('truetype'), url('../font/lucida-sans-unicode_allfont.ru-webfont.svg#lucida_sans_unicoderegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {}
.wrapper {
  width: 910px;
  margin: 0 auto;

}

/*HEADER*/

header {
  padding: 17px 0 12px 0px;
}
.phone-number {
  padding-left: 33px;
  background: url(../img/phone.png) no-repeat;
  background-position: 9px, 50%;
  float: left;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #5e696d;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.authorization {
  margin-left: 14px;
  padding-left: 24px;
  float: left;
  width: 471px;
  height: 25px;
  border-radius: 5px;
  border-bottom: 1px solid #596d80;
  border-left: 1px solid #d4dde3;
  border-top: 1px solid #a6c3cf;
  background: url(../img/autotization.png) no-repeat 8px 50%, linear-gradient(to bottom, #1F6787 0%, #0C3357 100%);
  box-shadow: 2px 2px 3px #969696;
  line-height: 21px;
  font-family: lucida_sans, Arial, sans-serif;
}
.authorization form {
  float: left;
  width: 276px;
}
.authorization input {
  width: 113px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #7b8d97;
}
#submit {
  width: 34px;
  padding: 0 3px;
  background: rgba(0, 0, 0, 0);
  background: url(../img/line.png) no-repeat right;
  border: none;
  color: white;
  font-size: 11px;
  border-radius: 0px;
}
.registration {
  float: left;
  display: block;
  padding: 0 5px;
  font-size: 11px;
  text-decoration: none;
  color: white;
  line-height: 25px;
}
.forgot-pass {
  display: block;
  padding-right: 14px;
  font-size: 12px;
  color: #bfbfbf;
  line-height: 25px;
  text-align: right;
}
.navi {
  float: left;
  margin-top: 0px;
  padding-left: 5px;
  padding-bottom: 7px;
  width: 68px;
  height: 10px;
  margin-left: 17px;
  border: 1px solid #c1c8cb;
  border-radius: 8px;
  box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.52);

}
.navi a{
  margin-left: 2.5px

}
.logo {
  width: 908px;
  padding-top: 37px;

}
nav{
  float: left;
}
.menu{
  margin-top: 6px;
  height: 31px;
  width: 778px;
  padding-left: 132px;
  border: 1px solid #2c345a;
  background: url(../img/bg-menu_03.png) repeat-x;
  border-radius: 5px;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.menu ul{
  float: left;
  padding-right: 45px;
}
.menu li{
  float: left;
  padding: 3px 1px;
  border-radius: 12px;
}

.menu a{
  display: block;
  padding: 0 15px;
  font-family: lucida_sans, Arial, sans-serif;
  font-size: 14px;
  color: #b1bcc0;
  text-decoration: none;
  line-height: 26px;
}
.menu a:hover{
  border-radius: 12px;
  background: linear-gradient(180deg, rgb(37, 97, 123) 0%, rgb(9, 35, 59) 90%);
}
.basket{
  float: left;
  background: url(../img/basket.png) no-repeat left;
  padding-left: 30px;
}
.basket div{
  float: left;;
  line-height: 29px;
  color: #929b9f;
  font-size: 11px;
  font-family: Arial, sans-serif;
  margin: 0px 0px;
  padding-right: 16px;
}
.basket span{
  font-size: 12px;
  color: #0d5a8f;
}
/*CONTENT*/
.search{
  margin-top: 0;
  padding-left: 6px;

}
.search>div{
  float: left;
  border: 1px solid #c4c4c4;
  border-radius: 16px;
  box-shadow: 3px 3px 5px 0px rgba(104,104,104,1);
}
.auto{
  width: 411px;
  height: 132px;
}
.auto-disk{
  padding: 4px 0 0 20px;
  float: left;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 10px;
  color: #154468;
}
.auto-auto{
  padding: 0px 0 0 68px;
  float: left;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 12px;
  color: #154468;
  text-align: center;
}
.auto-tire{
  padding: 2px 18px 0 0px;
  float: right;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 10px;
  color: #154468;
}
form{
  font-family: Arial, sans-serif;
  font-size: 10px;
}
form span{
  color: #77858b;
}
.auto-disk-search{
  float: left;
}

.wrapper-names{
  float: left;
  padding: 11px 9px 0px 16px;
}
.wrapper-names p{
  padding: 0px 0px 4px 0px;
}
.wrapper-select{
  float:left;
  padding: 4px 0px 0px 0px;
}

select{
  width: 116px;
  height: 18px;
  border-top: 3px solid #a8a8a8;
  border-right: none;
  border-bottom: none;
  border-left: 3px solid #a8a8a8;
  background: transparent;
}
select:focus{
  outline:none;
}
.styled-select{
  overflow: hidden;
  width: 98px;
  margin: 0px 0px 0px 0px;
  background: url(../img/select-arrow.png) no-repeat right;
}
